img
{
	max-width:100%;
}
#foto-personal
{
	float: right;
}
#profile-description
{
	border-bottom: 1px solid gray;
    overflow:hidden;
    padding-bottom: 15px;
    margin-bottom:15px;
    
}
.profile
{
	text-align: justify;
}
.logo-un
{
	width:100%;
}
.skills
{
	margin:0 auto;
	text-align:center;
}
.skills table
{
	margin:0 auto;
	text-align:center;
}
.skills table td
{
	border: 1px solid black;
}
