<% /* Define author's picture */ %>
    <% var authorPicture = null; %>
        <% if (theme.gravatar_email && theme.gravatar_email.length) { %>
            <% authorPicture = gravatar(theme.gravatar_email, 110); %>
                <% } else if (theme.author.picture && theme.author.picture.length) { %>
                    <% if (is_remote_url(theme.author.picture)) { %>
                        <% authorPicture = theme.author.picture; %>
                            <% } else { %>
                                <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
                                    <% } %>
                                        <% } %>
    <div id="about">
        <div id="about-card">
            <div id="about-btn-close">
                <i class="fa fa-remove"></i>
            </div>
            <main id="main" class="site-main" role="main" style="margin-left: 1em; margin-right: 1em; line-height: 24px; text-rendering: optimizelegibility;">
                <article id="post-92" class="post-92 page type-page status-publish hentry">
                    <div class="post-inner-content well">
                        <header class="entry-header">
                            <h1 class="entry-title">Sobre mí</h1>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <p style="text-align: justify;">
                                <img
                                    src="../assets/images/me.png"
                                    alt="sebastian" width="205" height="300" srcset="../assets/images/me.png"
                                    sizes="(max-width: 205px) 100vw, 205px"
                                    style="float: left; margin-right: 1em;">Mi nombre es Sebastián Gómez, soy ingeniero de sistemas
                                e Informática y Magister en Ingeniería de Sistemas
                                de la Universidad Nacional de Colombia.</p>
                            <p style="text-align: justify;">Actualmente trabajo en
                                <a href="https://www.globant.com/">Globant</a> como Web UI Developer con énfasis en
                                aplicaciones híbridas y cross compiladas. Soy el
                                organizador del
                                <a href="https://www.meetup.com/es-ES/GDG-Medellin">Google Developers Group de Medellín</a>, así que
                                contactame si quieres dar alguna charla o participar
                                actuamente de esta comunidad.</p>
                            <p style="text-align: justify;">He participado en una Startup Colombiana&nbsp;llamada
                                SponzorMe al lado de
                                <a href="https://www.carlosrojasblog.com/">Carlos Rojas</a> y fuí participante de
                                <a href="http://www.startupchile.org/">Startup Chile</a>&nbsp;a pesar de no haber continuado
                                con esta startup me apasiona el emprendimiento y
                                me gusta aconsejar y ayudar startups como mentor
                                técnico. También he trabajado en empresas Americanas
                                como
                                <a href="https://studiohyperset.com/">StudioHyperset</a> en Estados Unidos y para
                                <a href="http://measuredmedium.com/">Measured Medium</a>. Mi interés y mi experiencia
                                es el desarrollo de web y móvil full stack como Front-end
                                con Javascript. Me apasiona desarrollar software,
                                escribir código&nbsp;y&nbsp;enseñar lo que aprendo
                                día a día.</p>
                            <p style="text-align: justify;">También he trabajado como profesor en diferentes universidades
                                en Medellín Colombia, con tematicas&nbsp;relacionadas
                                con la Inteligencia Artificial, Bases de datos, programación
                                orientada a objetos, minería de datos, desarrollo
                                de software, desarrollo móvil y desarrollo web.</p>
                            <p style="text-align: justify;">Me encanta escribir&nbsp;código rápido y prototipar de
                                una manera accelerada&nbsp;si quieres ver que&nbsp;hago
                                día a día puedes darle un vistazo a mi codepen:&nbsp;
                                <a
                                    href="https://codepen.io/seagomezar/">https://codepen.io/seagomezar/</a>.</p>
                            <p style="text-align: justify;">Todos los días trato de crear o participar en proyectos,
                                la mayoría open source, así que puede chequear mi
                                GitHub:&nbsp;
                                <a href="https://github.com/seagomezar">https://github.com/seagomezar</a>.</p>
                            <p style="text-align: justify;">Mi áreas de investigación académica&nbsp;son: Ingeniería
                                de software, Ingeniería de requisitos, procesamiento
                                del lenguaje natural, Ontologías, Bases De Datos,
                                &nbsp;Machine Learning, Seguimiento de trayectorias&nbsp;y
                                Modelamiento matemático de formaciones.</p>
                            <p style="text-align: justify;">Estas son algunas de mis publicaciones académicas mas
                                recientes:</p>
                            <ul>
                                <li style="text-align: left;">
                                    <a href="http://revistas.unipamplona.edu.co/ojs_viceinves/index.php/RCTA/article/view/288/361"
                                        target="_blank" rel="noopener">Caracterización de los elementos del diagrama
                                        de objetivos de KAOS a partir de lenguaje
                                        natural</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://www.redalyc.org/articulo.oa?id=47730923003"
                                        target="_blank" rel="noopener">Analysis and Detection in V-Formations with Outliers</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://www.hindawi.com/journals/aaa/2014/241684/"
                                        target="_blank" rel="noopener">Identification of V-Formations and Circular and
                                        Doughnut Formations in a Set of Moving Entities
                                        with Outliers</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://www.revistasiush.com/index.php/quid/article/download/71/33"
                                        target="_blank" rel="noopener">Using ontologies for disambiguation of software
                                        artifacts. in software requirements elicitation</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://www.scielo.cl/scielo.php?pid=S0718-33052015000100007&amp;script=sci_arttext&amp;tlng=e"
                                        target="_blank" rel="noopener">Extraction of goals and their classification
                                        in the KAOS model using natural&nbsp;language
                                        processing</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://link.springer.com/chapter/10.1007/978-3-319-06764-3_5#page-1"
                                        target="_blank" rel="noopener">Obtaining Agents and Entities from Natural Language</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://www.enggjournals.com/ijet/docs/IJET14-06-06-128.pdf">Filtering Word Senses Using the Least Squares
                                        Technique for Word Sense Disambiguation</a>
                                </li>
                                <li style="text-align: left;">
                                    <a href="http://revistavirtual.ucn.edu.co/index.php/RevistaUCN/article/view/707/1234">Un modelo de procesamiento de lenguaje natural
                                        para la&nbsp;detección de errores en requisitos
                                        de software</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>